<header class="flex-container">
     <div class="logo-box flex-item">
            <img class="section-item" src="img/jo.logo.jpg" alt="colour-logo" width="100px">
     </div>
        <nav>
            <ul>
                <li><a class= link href="#type">Type</a></li>
                <li><a class= link href="#text">Text &Images</a></li>
                <li><a class= link href="#colors">Colors</a></li>
                <li><a class= link href="#links">Links</a></li>
                <li><a class= link href="#widgets">Widgets</a></li>
                
            </ul>
        </nav>
</header>
